body{
  background-color: #282c34;
}
h1{
  color: aliceblue;
  text-align: center;
  font-size: 3rem;
}
#form{
  text-align: center;
  margin-bottom: 40px;
}
#box{
  background-color: #fff;
  border-radius: 4px;
  color: #282c34;
  margin:8px;
  width: 350px;
}
img{
  height:50px;
  width:50px;
  border-radius: 10px;
}
#starting{
  padding: 10px;
  display:flex;
}
#title{
  margin-left: 20px;
  
}
#name{
  margin-top: 0%;
  margin-bottom: 3px;
}
#nam{
  margin-top: 0%;
}
#middle{
  display: flex;
  padding:10px;
  
  
}
#main{
  margin-inline: 150px;
  display: flex;
}
#box-body-item
{
  padding-inline: 20px;
  text-align: center;
  border-right: 1px solid #0f0f0f;
  border-top: 1px solid #0f0f0f;
  border-bottom:1px solid #0f0f0f;
  border-left: 1px solid #0f0f0f;
}
#bio-data{
  font-family: 'Courier New', Courier, monospace;
  margin-left: 10px;
}